<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="mystylesheet.css"/>
        <title>Trucks for sale</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header"> 
                <div class="brand">
                    <button onclick="openMenu()">
                        &#9776;
                    </button>
                    <a href="index.html" >Trucks</a>
                </div>
                <div class="header-links">
                    <a href="cart.html" >Cart</a>
                    <a href="signin.html" >signin</a>
                </div>
            </header>
            
            <aside class="sidebar">
                <h3>Categories</h3>
                <button class="sidebar-close-button" onclick="closeMenu()">x</button>
                <ul>
                    <li>
                        <a href="">1980's Trucks</a>
                    </li>
                    <li>
                        <a href="">1990's Trucks</a>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="content">
                    <ul class="trucks">
                        <li>
                            <div class="truck">
                                <img class="truck-img" src="images/1998mib.jpg" alt="truck">
                                <div class="truck-name">Hess recreational van</div>
                                <div class="truck-year">1998</div>
                                <div class="truck-price">$58</div>
                            </div>
                        </li>
                        <li>
                            <div class="truck">
                                <img class="truck-img" src="images/1997mib.jpg" alt="truck">
                                <div class="truck-name">Hess Truck w/ 2 racers</div>
                                <div class="truck-year">1997</div>
                                <div class="truck-price">$58</div>
                            </div>
                        </li>
                        <li>
                            <div class="truck">
                                <img class="truck-img" src="images/1996mib.jpg" alt="truck">
                                <div class="truck-name">Hess Emergency Truck</div>
                                <div class="truck-year">1996</div>
                                <div class="truck-price">$58</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul>
                 
                    <li>truck 2</li>
                </ul>
            </main>
            <footer class="footer">
                all shites reserved.
            </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeMenu(){
                document.querySelector(".sidebar").classList.remove("open");
            }
        </script>
    </body>
</html>